* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.bg-blur {
    backdrop-filter: blur(2px);
    background-color: rgba(235, 242, 244, 0.657);

}

.bg-darkblue {
    background-color: #0a054ada;
    background-image: url("../img/background-gradient.jpg");
}

.intros {
    height: 107.8vh;
    /* background-image:linear-gradient(to right ,#2c3e50, #4ca1af)!important; */
    background: linear-gradient(-25deg, #0f0c29, #302b63, #24243e);
}

@media (min-width: 992px) {
    .intros {
        margin-top: -58.59px;
    }
}

.bi-facebook{
    color:white
}

.form{
    padding: 30px 40px;
}
h2{
    text-align: center;
    margin:0 0 0 20px;
}

.form-floating.error input{
    border-color:red;
}
.form-floating.success input{
    border-color:green;
}
.form-floating small{
    color:red;
    /* position: absolute; */
    bottom:0;
    left:0;
    visibility: hidden;
}
.form-floating.error small{
    visibility: visible;
}