@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    
    /* background-color: #9C74F3; */
    
}

/* Header */

.container{
    /* max-width: 1920px; */
    margin:0 auto;
    /* border :1px solid red ; */
}

.bi-controller{
    color: white;
}

nav{
    height: 135px;
    display:  flex;  
    align-items: center;
    background-color: #050224;
    
}

nav a{
    text-decoration:  none;
}

nav b {
    margin-left: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    width: 520px;
    justify-content: space-between;
    margin-left:auto;
    margin-right: 40px;
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    /* border:  1px solid red; */
    
    
}


ul li i{
    margin: 10px;
}


.logo h1{
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.logo h4{
    color: #fff;
    font-size: 20px ;
    
}

/* Banner */
.banner{
    
    height: 542px;
    background-image: url("../img/genshin-impact-banner.jpg") ;
    background-position: center center;
	background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* grid-game */

.game{
    border :1px solid red ;
    padding-top: 15px;  
    
}
.game h1 {
    margin-left: 40px;
}

.game h5{
    margin-left: 40px;
}



.text-center{
    text-align: center!important;
}
ul li a {
    text-decoration: none;
    color: #000;
}
ul li a:hover {
    color: #0d6efd;;
}

.col-md-2{
    flex: 0 0 auto;
}
.col4{
    flex:  0 0 auto;
    width: 3.333333333%;
}


ul li img{

    width: 200px;
    height: 200px;
    border-radius: 20%;
    display: block;
    
    
}

.grid-container ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    gap: 10px;
    justify-content: space-evenly;
    list-style: none;
    
}
.grid-container ul li{
    display: none;
}


.load-more{
    margin: 0 auto;
  text-align: center;
  padding:25px 20px;
  
}
button{
    border: none;
    border-radius: 10px;
    width: 150px;
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: #050224;
    color: #fff;
}

.grid-container ul li:nth-child(1),
.grid-container ul li:nth-child(2),
.grid-container ul li:nth-child(3),
.grid-container ul li:nth-child(4),
.grid-container ul li:nth-child(5),
.grid-container ul li:nth-child(6),
.grid-container ul li:nth-child(7),
.grid-container ul li:nth-child(8),
.grid-container ul li:nth-child(9),
.grid-container ul li:nth-child(10){
    display: inline-block;
}

/* grid-game */

.card{
    border :1px solid red ;
    padding-top: 15px;  
    
}
.card h1 {
    margin-left: 40px;
}

.card h5{
    margin-left: 40px;
}



.text-center{
    text-align: center!important;
}
ul li a {
    text-decoration: none;
    color: #000;
}
ul li a:hover {
    color: #0d6efd;;
}

.col-md-2{
    flex: 0 0 auto;
}
.col4{
    flex:  0 0 auto;
    width: 3.333333333%;
}


ul li img{

    width: 200px;
    height: 200px;
    border-radius: 20%;
    display: block;
    
    
}

.card-container ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    gap: 10px;
    justify-content: space-evenly;
    list-style: none;
    
}
.card-container ul li{
    display: block;
}


.load{
    margin: 0 auto;
  text-align: center;
  padding:25px 20px;
  
}









